/* Set background color for the page */
body {
  background-color: #333;
}

/* Style for the cat list */
.cat-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cat-item {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  position: relative;
  cursor: pointer;
  transform: skewX(-10deg);
  overflow: hidden;
  transition: transform 0.3s ease-out;
}

.cat-item:before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  width: 30px;
  height: 30px;
  background-color: #FF6663;
  border-radius: 50%;
  box-shadow: 0 0 5px #FF6663;
  transition: transform 0.3s ease-out;
}

.cat-attributes {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
}

.cat-attributes li {
  margin: 0;
  padding: 5px 0;
  color: #f4f4f4;
  display: none;
}

/* Hover styles for the cat item */
.cat-item:hover {
  color: #FF6663;
  background-color: #f4f4f4;
  transform: skewX(0deg);
}

.cat-item:hover:before {
  transform: translateY(-50%) rotate(-45deg) scale(1.5);
}

.cat-item:hover .cat-attributes li {
  display: block;
}

/* Animation for the cat attribute items */
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
